[submodule "Submodules/ERF"]
	path = Submodules/ERF
	url = https://github.com/jmsexton03/ERF
	shallow = true
#	branch = splitting_build_library
[submodule "Submodules/AMReX-Hydro"]
	path = Submodules/AMReX-Hydro
	url = https://github.com/amrex-codes/AMReX-Hydro
	shallow = true
[submodule "Submodules/amrex"]
	path = Submodules/amrex
	url = git@github.com:AMReX-Codes/amrex.git
[submodule "Submodules/amr-wind"]
	path = Submodules/amr-wind
	url = git@github.com:erf-model/amr-wind.git
